<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-300 rounded-box w-52"
      >
        <li><a href="characters/page/1">Characters</a></li>
        <li><a href="locations/page/1">Locations</a></li>
        <li><a href="episodes/page/1">Episodes</a></li>
      </ul>
    </div>
    <a href="characters" class="btn btn-ghost normal-case text-xl">
      <img class="w-40 h-auto" src="../assets/text-logo.png"
    /></a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal p-0">
      <li><a href="characters/page/1">Characters</a></li>
      <li><a href="locations/page/1">Locations</a></li>
      <li><a href="episodes/page/1">Episodes</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <!-- <input type="text" placeholder="Search" class="input input-bordered mr-1" /> -->
    <app-theme-changer></app-theme-changer>
  </div>
</div>
