<div class="flex flex-wrap justify-center mb-3">
  <div *ngFor="let character of characters; let i = index">
    <div class="card w-64 hover:bg-primary shadow-xl m-4">
      <figure>
        <img class="w-64" src="{{character.image}}" alt="{{character.name}}" />
      </figure>
      <div class="card-body">
        <span class="card-title mb-2">{{ character.name }}</span>
        <span class="font-semibold">Species:</span> {{character.species}}
        <div class="mt-2">
          <span class="font-semibold">Status:</span>
          <div
            class="ml-1 indicator-item badge badge-sm {{badgeStatusColor(character)}}"
          >
            {{character.status}}
          </div>
        </div>

        <span class="mt-3 font-semibold">First seen in:</span>
        {{character.origin.name}}
        <span class="mt-3 font-semibold">Last known location:</span>
        {{character.location.name}}
      </div>
    </div>
  </div>
</div>
