<h1 class="flex text-4xl justify-center mt-12 mb-16">{{location.name}}</h1>

<span class="flex text-xl justify-center mb-6">
  Dimension: {{location.dimension}} - Type: {{location.type}}
</span>

<span class="flex text-2xl justify-center mt-12 my-6">Residents</span>

<app-character-listing [characters]="characters"></app-character-listing>
